.navigation {
    display: flex;
    margin: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar {
    display: flex;
    flex: 1;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-indent: 10px;
    color: #777;
    outline: none;
}

.listagemPessoas {
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.listagemPessoas > p {
    text-align: center;
    margin: 20px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primaryColor);
} 
.header span {
    flex: 1;
    text-align: center;
    border-left: 1px solid var(--white);
    padding: 10px 0;
    color: var(--white)
}
.listagemPessoas ul {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.listagemPessoas li {
    display: flex;
    flex-direction: row;
    flex: 1;
    cursor: pointer;
}
.listagemPessoas li > span {
    background-color: var(--ligthColorGreen);
    flex: 1;
    text-align: center;
    border-left: 1px solid var(--white);
    padding: 10px 0;
    color: var(--primaryColor)
}

.registerContainer {
    display: flex;
    width: 450px;
    margin: 30px auto;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}
.registerContainer form {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 0px;

}

.registerContainer form input, .registerContainer select { 
    width: 98%;
    height: 38px;
    border-radius: 5px;
    border: 0;
    outline: none;
    
}
.registerContainer form input[type="text"], .registerContainer select {
    text-indent: 15px;
    border: 1px solid #ddd;
}

.registerContainer select {
    margin: 15px 0;
    padding: 10px 0;
}

.registerContainer form input[type="submit"] {
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 10px 0
}

.registerContainer form span {
    display: block;
    text-indent: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primaryColor);
    margin-top: 15px;
    text-align: left;
}

.cancel {
    color: var(--primaryColor);
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 15px 0;
}

.danger {
    cursor: pointer;
    text-align: center !important;
    color: var(--red) !important;
    text-decoration: underline;
    width: 100%;
    margin: 25px 0;
}